<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title>Dog Menu</title>
</head>
<body>
	<h1>Dog Menu</h1>
<div class="nav button">
	<a href="index.ejs">
		Back to Main Menu
	</a>
</div>
<div class="nav button">
	<a href="new-session.ejs">
		New Training Session
	</a>
</div>
<% if (results) {%>
	<% for (i = 0; i < results.length;i++) {%>
		<div class="past_session button">
			<%= results[i].date%>
		</div>
	<% } %>
<% } %>
</body>
</html>
