<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css"/>
	<title>Dog Menu</title>
</head>
<body>
	<h1>Dog Menu</h1>
	<% if (name) { %> <h2><%= name %></h2> <% } %>
<div class="nav button">
	<a href="/newsession">
		New Training Session
	</a>
</div>
<% if (sessions) {%>
	<% for (i = 0; i < sessions.length;i++) {%>
		<div class="past_session button" id=""+<%=sessions[i].uuid%>>
			<%= sessions[i].date%>
		</div>
	<% } %>
<% } %>
<div class="nav button">
	<a href="/">
		Back to Main Menu
	</a>
</div>
</body>
</html>
