<!DOCTYPE html>
<html>
<head>
	<title>Main Menu</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
//Dog Array
</script>
</head>
<body>
	<h1>Dogs</h1>
  	<% if (results != null && results.length > 0) {%>
  		<div id="dogs_box">
		<% for (i = 0; i < results.length; i++) {%>
			<div>
				<a href="doginfo?id=<%= results[i].id%>&dogName=<%= results[i].name%>" class="btn btn-primary btn-large btn-block">
					<%= results[i].name%>
				</a>
			</div>
		<% } %>
	</div>
	<% } else { %>
		<div > No Dogs in System </div>
	<% } %>
	<div id="new-dog-button">
		<a href="/newdogform" class="btn btn-primary btn-block"> Add New Dog </a>
	</div>

</body>
</html>