<!DOCTYPE html>
<html>
<head>
	<title>New Training Session</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/common.js"></script>
<script src = "js/canister-session-form.js"></script>
<body>
	<h1>New Training Session</h1>
	<% if (dogName) { %> <h2>Dog: <%= dogName %></h2> <% } %>

	<form id="new-training-form">
		<div class="session field" >
			<input type="hidden" id="uuid" name="uuid">
		</div>
		<div class="session field" >
			<input type="hidden" id="dogID" name="dogID" value="<%=dogID%>">
		</div>
		<div class="session field">
			<input type="text" id="location" name="location" placeholder="Location" required> 
		</div>
		<div class="session field">
			<input type="text" id="canister" name="canister" placeholder="Canister position" required>
		</div>
		<div class="session field">
			<input type="text" id="handler" name="handler" placeholder="Handler" required>
		</div>
		<div class="session field">
			<input type="text" id="sample_num" name="sample_num" placeholder="Sample Number" required>
		</div>
		<div class="session field">
			<input type="text" id="sample_info" name="sample_info" placeholder="Sample Usage Info" required>
		</div>
		<!-- Automate later -->
		<div class="session field">
			<input type="text" id="sample_time" name="sample_time" placeholder="Time Obtained" required>
		</div>
		<div class="session field">
			<input type="text" id="duration" name="duration" placeholder="Session Duration" required>
		</div>
	<div class="session submit_button">
			<input type="submit" value="Begin Session">
		</div>
	</form>
	<!-- <div class="nav button">
		<button type="button" class="btn btn-lg btn-primary" onclick=window.location="/session">
			Begin Session
		</button>
	</div> -->	
	<div class="nav button">
	<button type="button" class="btn btn-lg btn-warning" onclick=window.location.replace("/doginfo?dogID=<%=dogID%>&dogName=<%=dogName%>")>
		Back to Dog Menu
	</button>
</div>
</body>
</html>
