<!DOCTYPE html>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/common.js"></script>
	<script src = "js/scent-wheel-session.js"></script>
	<title> Scent Wheel Session</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body>
	<h1> Scent Wheel Session</h1>
	<!-- SETUP FOR TRIAL  -->
	<div id="setup">
		<form>
			<div>
				<h3>Choose an initial position: </h3>
				<br>
				<button type="button" onclick="setPos(1,this)" class="btn btn-default btn-large"> 1 </button>
				<button type="button" onclick="setPos(2,this)" class="btn btn-default btn-large"> 2 </button>
				<button type="button" onclick="setPos(3,this)" class="btn btn-default btn-large"> 3 </button>
				<button type="button" onclick="setPos(4,this)" class="btn btn-default btn-large"> 4 </button>
			</div>
			<div>
				<h3>Choose a starting direction: </h3>
				<br>
				<button type="button" onclick="setDir('cc',this)" class="btn btn-primary btn-large" >
					<--
				</button>
				<button type="button" onclick="setDir('c',this)" class="btn btn-primary btn-large"> 
				    -->
				</button>
			</div>
			<div>
				<br><br>
				<button id="beginsession" type="button" onclick="init()" class="btn btn-primary btn-large" disabled> Begin Trial </button>
			</div>
		</form>
	</div>
	<!-- SETUP FOR TRIAL  -->
	<div id="trial">
		
		<% if (dogName) { %> <h3 id="dog_name"><%= dogName %></h3> <% } %>

		<div class="session field" >
			<input type="hidden" id="id" name="id" value="<%=id%>">
		</div>
		<div id="current_direction">
			<h3></h3>
		</div>
		<div id="wheel">
			<div class="arm">
				<button id="1" type="button" onclick="recordFalse()" class="btn btn-warning btn-large" style="width:60px; height:60px; font-size: 30px;" disabled>
					1
				</button>
			</div>
			<div class="arm">
				<button id="2" type="button" onclick="recordFalse()" class="btn btn-warning btn-large" style="width:60px; height:60px; font-size: 30px;" disabled>
					2
				</button>
			</div>
			<div class="arm">
				<button id="3" type="button" onclick="recordSuccess()" class="btn btn-success btn-large" style="width:60px; height:60px; font-size: 30px;" disabled>
					3
				</button>
			</div>
			<div class="arm">
				<button id="4" type="button" onclick="recordFalse()" class="btn btn-warning btn-large" style="width:60px; height:60px; font-size: 30px;" disabled>
					4
				</button>
			</div>
		</div>
		<div id="move">
			<button id="left_button" type="button" onclick="move('cc')" class="btn btn-primary btn-large" >
				<--
			</button>
			<button id="right_button" type="button" onclick="move('c')" class="btn btn-primary btn-large"> 
			    -->
			</button>
		</div>
		<div>
			<br>
			<button id="new_trial" onclick="newTrial()" class="btn btn-primary btn-large">New Trial</button>
	<!-- 	<h2> Total: <span id="arm_tally"> 0 </span></h2>  -->
		</div>
		
		<br>
		<div class="session field">
			<h3>Notes:</h3>
			<textarea rows="7" cols="50" id="notes" name="notes" required></textarea> 
		</div>
		<br>
		
		<div id="end-button">
			<button type="button" class="btn btn-primary btn-large">End Session</button>
		</div>
	</div>
	</body>
</html>
