img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}


div {
    margin: 0 auto;
    text-align: center;
    
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    font-family: Univers, sans-serif;
}

#dogs_box {
    width: 200px;
}

.session_stats{
    width: 250px;
}

div.button{}
div.select_dog{}
div.nav{}
