<!DOCTYPE html>
<html>
<body>
  <h1>Restaurant Database</h1>
  <p style="color:red"> 
  <% if (error != null) {%>
  	<%= error%>
  <%}%>
  &nbsp;
  </p>
  <form action="/checklogin" method="post">
    Username: <input type="text" name="username"></br>
    Password: <input type="password" name="password"></br>
    <input type="submit" value="Login">
  </form>
  </br>
  <a href="/signup">Sign Up</a>
  </br>
  </br>
  Author: Lizzy Britton (britte)
</body>
</html>
