<!DOCTYPE html>
<html>
<head>
	<title>New Training Block</title>
</head>
<body>
	<form>
		<div class="tb field">
			Location: <input type="text" id="location" name="location"> 
		</div>
		<div class="tb field">
			Canister position: <input type="text" id="canister" name="canister">
		</div>
		<div class="tb field">
			Handler: <input type="text" id="handler" name="handler">
		</div>
		<div class="tb field">
			Sample Number: <input type="text" id="sample_num" name="sample_num">
		</div>
		<div class="tb field">
			Sample Usage Information: <input type="text" id="sample_info" name="sample_info">
		</div>
		<!-- Automate later -->
		<div class="tb field">
			Time Obtained: <input type="text" id="sample_time" name="sample_time">
		</div>
		<div class="tb field">
			Length of Session: <input type="text" id="duration" name="duration">
		</div>
		<div class="tb button">
			<input type="submit" value="Begin Block">
		</div>
	</form>
</body>
</html>