<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title>Dog Menu</title>
</head>
<body>
<<<<<<< HEAD:dogs.html
	<h1>Dog Menu</h1>
	<div class="button">
		<a href="index.html">
			Back to Main Menu
		</a>
	</div>
	<div class="button">
		<a href="block.html">
			New Training Block
		</a>
	</div>
=======

<div class="button">
	<a href="index.ejs">
		Back to Main Menu
	</a>
</div>
<div class="button">
	<a href="new-session.ejs">
		New Training Session
	</a>
</div>


>>>>>>> FETCH_HEAD:view/dog-menu.ejs
</body>
</html>
