<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title> Dog Menu</title>
</head>
<body>

<div class="button">
	<a href="index.ejs">
		Back to Main Menu
	</a>
</div>
<div class="button">
	<a href="new-session.ejs">
		New Training Session
	</a>
</div>


</body>
</html>
