<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title> Training Session</title>
	<h1> Training Session</h1>
</head>
<body>

<button type="button" onclick="">Success</button>
<button type="button" onclick="">Miss</button>
<button type="button" onclick="">False Alert</button>

<div class="button">
	<a href="dog-menu.ejs">
		End Session
	</a>
</div>

</body>
</html>
