<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title> Training Session</title>
</head>
<body>
<div class="button">
	<a href="//dogs.ejs">
		Back to Dog Menu
	</a>
</div>

</body>
</html>
